version: 2.1

workflows:
  version: 2
  test:
    jobs:
      - build-test-linux:
          name: Ruby 2.6
          docker-image: cimg/ruby:2.6
      - build-test-linux:
          name: Ruby 2.7
          docker-image: cimg/ruby:2.7
      - build-test-linux:
          name: Ruby 3.0
          docker-image: cimg/ruby:3.0
      - build-test-linux:
          name: Ruby 3.1
          docker-image: cimg/ruby:3.1
      - build-test-linux:
          name: JRuby 9.3
          docker-image: jruby:9.3-jdk
          jruby: true

jobs:
  build-test-linux:
    parameters:
      docker-image:
        type: string
      jruby:
        type: boolean
        default: false

    docker:
      - image: <<parameters.docker-image>>
      - image: consul
      - image: redis
      - image: amazon/dynamodb-local

    steps:
      - checkout
      - when:
          condition: <<parameters.jruby>>
          steps:
            - run: gem install jruby-openssl -v 0.11.0  # required by bundler, no effect on Ruby MRI
            - run: apt-get update -y && apt-get install -y build-essential
      - when:
          condition:
             not: <<parameters.jruby>>
          steps:
            - run: sudo apt-get update -y && sudo apt-get install -y build-essential
      - run: ruby -v
      - run: gem install bundler -v 2.2.33
      - run: bundle _2.2.33_ install
      - run: mkdir /tmp/circle-artifacts
      - run: bundle _2.2.33_ exec rspec --format documentation --format RspecJunitFormatter -o /tmp/circle-artifacts/rspec.xml spec

      - when:
          condition:
             not: <<parameters.jruby>>
          steps:
            - run: make build-contract-tests
            - run:
                command: make start-contract-test-service
                background: true
            - run: TEST_HARNESS_PARAMS="-junit /tmp/circle-artifacts/contract-tests-junit.xml" make run-contract-tests

      - store_test_results:
          path: /tmp/circle-artifacts
      - store_artifacts:
          path: /tmp/circle-artifacts
