version: 2

repo:
  public: ruby-server-sdk
  private: ruby-server-sdk-private

branches:
  - name: main
  - name: 5.x
  - name: 6.x

publications:
  - url: https://rubygems.org/gems/launchdarkly-server-sdk
    description: RubyGems
  - url: https://www.rubydoc.info/gems/launchdarkly-server-sdk
    description: documentation

jobs:
  - docker:
      image: ruby:2.7-buster
    template:
      name: ruby

documentation:
  gitHubPages: true

sdk:
  displayName: "Ruby"
